.App {
  text-align: center;
}

body {
  background-color: #000000; /* Dark background color */
  color: #ffffff; /* Light text color */
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

flexbox {
  display: flex;
  flex-direction: column;
}

